{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4.2.1/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'bootstrap-4.2.1/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-4.2.1/js/bootstrap.min.js' %}"></script>
    {% block header_extends %}{% endblock %}
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #e7e7e7;">
    <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'blog_list' %}">Blog</a>
            </li>
        </ul>
        <ul class="nav justify-content-end" style="list-style-type: none;">
            {% if not user.is_authenticated %}
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'login' %}?from={{ request.get_full_path }}">Login</a>
                </li>
                <li>
                    <a class="nav-link active" href="{% url 'register' %}?from={{ request.get_full_path }}">Register</a>
                </li>
            </ul>

            {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.get_nickname }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'user_info' %}">Information</a>
                        {% if user.is_staff or user.is_superuser %}
                            <a class="dropdown-item" href="{% url 'admin:index' %}">Management</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a>
                        <a class="dropdown-item" href="{% url 'logout' %}?from={{ request.get_full_path }}">Log out</a>

                    </div>
                </li>
            {% endif %}
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

    {% block content %}{% endblock %}
    {% block script_extends %}{% endblock %}


</body>
</html>