{% extends 'base.html' %}
{% load static %}


{% block title %}
    我的网站|首页
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
{% endblock %}

{% block content %}


<!--

    {% for hot_data in today_hot_data %}
        <li>{{ hot_data.object_id }}({{ hot_data.read_num }})</li>
        <a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a>
    {% empty %}
        no hot
    {% endfor %}
-->
{% endblock %}